In [4]:
from sklearn.cross_validation import train_test_split
import numpy as np
import pandas as pd

In [7]:
df = pd.DataFrame(np.random.randint(0, 200, (10, 20)))

In [24]:
train, test = train_test_split(df, test_size=.5)

In [25]:
train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
8,90,135,10,166,52,150,86,40,10,113,58,146,199,164,101,4,58,139,57,15
3,77,180,60,21,4,36,154,102,95,14,142,119,88,147,95,126,41,175,11,154
7,77,50,22,189,183,6,149,102,160,105,35,133,15,146,85,67,75,1,134,114
6,153,146,142,141,52,179,33,133,66,26,61,128,154,5,123,56,164,146,107,113
2,159,79,148,92,39,119,74,0,59,83,43,187,54,44,137,94,90,1,79,177

In [26]:
test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,158,182,0,27,196,146,149,185,10,187,128,146,37,77,25,20,5,97,95,162
9,7,160,7,45,85,121,148,91,129,167,144,29,173,75,64,19,158,77,186,48
5,95,82,113,179,29,107,45,183,22,14,72,30,27,17,103,131,112,191,135,107
4,68,27,34,69,72,43,84,66,83,152,113,0,49,79,86,139,50,146,68,86
1,113,121,84,25,134,18,162,164,11,93,155,64,56,78,169,122,171,108,156,195